//fonts:
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
$jakarta: "Plus Jakarta Sans", sans-serif;
//colors:
$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);
$white: hsl(0, 0%, 100%);
$veryLightGrayishBlue: hsl(210, 60%, 98%);
$lightGrayishBlue1: hsl(211, 68%, 94%);
$lightGrayishBlue2: hsl(205, 33%, 90%);
$grayishBlue: hsl(219, 14%, 63%);
$darkGrayishBlue: hsl(219, 12%, 42%);
$veryDarkBlue: hsl(224, 21%, 14%);

$mobile: "min-width: 375px";
$desktop: "min-width: 1440px";

@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

// hover
.user:hover,
.mark-as-read-btn:hover,
.group-name:hover,
.post-title:hover {
  cursor: pointer;
  color: $blue;
}

.message:hover {
  cursor: pointer;
  background-color: $lightGrayishBlue1;
  border-color: $lightGrayishBlue1;
}

.image-thumbnail:hover {
  cursor: pointer;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: $jakarta;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $veryLightGrayishBlue;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-radius: 0.5rem;

  @media screen and ($mobile) {
    max-width: 610px;
    min-height: 70%;
  }
}

.header-container {
  @include flex(row, space-between, center);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
}

.notification-count {
  @include flex(normal, center, center);
  background-color: $blue;
  color: $white;
  font-size: 0.75rem;
  height: 1.25rem;
  width: 1.5rem;
  text-align: center;
  border-radius: 3px;
  margin-left: 0.75rem;
}

.mark-as-read-btn {
  background: none;
  border: none;
  color: $darkGrayishBlue;
}

.notification-card {
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.83rem;
  font-weight: 500;
}

.notification {
  color: $darkGrayishBlue;
}

.user {
  font-weight: 800;
  font-size: 0.85rem;
  color: $veryDarkBlue;
  margin-right: 0.2rem;
}

.avatar-img {
  height: 38px;
  width: 38px;
  margin: 1rem;
}

.card-text {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.elapsed-time {
  color: $grayishBlue;
  margin-top: 0.25rem;
}

.image-thumbnail {
  height: 40px;
  width: 40px;
  margin-top: 1rem;
  margin-right: 1rem;
}

.group-name {
  color: $darkGrayishBlue;
  font-weight: 800;
  font-size: 0.9rem;
}

.post-title {
  font-weight: 800;
  color: $darkGrayishBlue;
}

.message {
  color: $darkGrayishBlue;
  border: 1px solid $grayishBlue;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
}

.unread {
  background-color: $veryLightGrayishBlue;
}

.unread-marker {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50px;
  background-color: $red;
  margin-left: 0.25rem;
}
