//fonts:
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
$jakarta: "Plus Jakarta Sans", sans-serif;
//colors:
$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);
$white: hsl(0, 0%, 100%);
$veryLightGrayishBlue: hsl(210, 60%, 98%);
$lightGrayishBlue1: hsl(211, 68%, 94%);
$lightGrayishBlue2: hsl(205, 33%, 90%);
$grayishBlue: hsl(219, 14%, 63%);
$darkGrayishBlue: hsl(219, 12%, 42%);
$veryDarkBlue: hsl(224, 21%, 14%);

$mobile: "min-width: 375px";
$desktop: "min-width: 1440px";

@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: $jakarta;
}

.content {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  @include flex("column", "space-between", "center");
}

.mark-as-read-btn {
  background: none;
  border: none;
  color: $darkGrayishBlue;
}

.notification-card {
  display: flex;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.notification {
  color: $darkGrayishBlue;
}

.user {
  font-weight: 800;
}

.avatar-img {
  height: 40px;
  width: 40px;
  margin: 1rem;
}

.card-text {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.elapsed-time {
  color: $grayishBlue;
}

.group-name {
  color: $blue;
  font-weight: 800;
}

.post-title {
}

.message {
  color: $darkGrayishBlue;
  border: 1px solid $grayishBlue;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
}

.unread {
  background-color: $veryLightGrayishBlue;
}
